<ion-tabs
  swipeTab
  #dashboardTabs
  (ionTabsDidChange)="ionTabsDidChange($event)"
  (tabChange)="onTabChange($event)"
>
  <ion-fab
    #menuAddButton
    [ngStyle]="{ 'right': getAddButtonPosition() }"
    [hidden]="addButtonHidden"
    (click)="dataState.openMenu()"
    class="footer-icon"
    horizontal="end"
    vertical="bottom"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div
    #menuPane
    class="cupertino-pane"
  >
    <ion-tab-bar slot="bottom">
      <ion-tab-button
        *ngFor="let menuItem of menuItems"
        (click)="menuItem.isLogout && localState.logout()"
        [tab]="menuItem.tabName"
      >
        <ion-icon [name]="menuItem.iconName"></ion-icon>
        <ion-label>{{ menuItem.label }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-tabs>
