::ng-deep .footer {
  margin: 0 auto;
  max-width: var(--footer-width);
}

::ng-deep .swipe-area {
  height: 100%;
  width: 100%;
}

.footer-icon {
  bottom: var(--footer-icon-bottom-position);
}

ion-tab-bar {
  --background: transparent;
  align-items: flex-start;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .rotate-180 {
    transform: rotate(180deg);
  }

  ion-tab-button {
    --background: transparent;
    color: rgba(var(--ion-text-color-rgb), 0.6);
    flex: 0 1 33.33%;
    height: var(--menu-button-height);

    &.tab-selected {
      color: var(--ion-color-primary);
    }
  }
}