<ion-tabs
  swipeTab
  #dashboardTabs
  (ionTabsDidChange)="ionTabsDidChange($event)"
  (tabChange)="onTabChange($event)"
>
  <div
    #menuPane
    class="cupertino-pane"
  >
    <ion-fab
      *ngIf="localState.isAdmin"
      (click)="dataState.openMenu()"
      class="footer-icon"
      horizontal="end"
      slot="fixed"
      vertical="top"
    >
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom">
      <ion-tab-button
        *ngFor="let menuItem of menuItems"
        (click)="menuItem.isLogout && localState.logout()"
        [tab]="menuItem.tabName"
      >
        <ion-icon [name]="menuItem.iconName"></ion-icon>
        <ion-label>{{ menuItem.label }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-tabs>
