.temperature {
  font-weight: var(--temperature-tile-font-weight);
  line-height: var(--temperature-tile-line-height);

  &--data {
    color: rgba(var(--ion-text-color-rgb), 0.7);
    font-size: var(--temperature-tile-data-font-size);
  }

  &--no-data {
    color: rgba(var(--ion-text-color-rgb), 0.5);
    font-size: var(--temperature-tile-no-data-font-size);
  }

  sup {
    font-size: var(--temperature-tile-sup-font-size);
    left: var(--temperature-tile-sup-left-position);
    top: var(--temperature-tile-sup-top-position);
  }
}