:host {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  
  ion-card {
    height: 100%;
    flex: 1;
    margin: 0;

    ion-card-header {
      display: flex;
      height: var(--tile-header-height);
      justify-content: space-between;
      padding: 0;

      &::after {
        border-bottom: 1px solid rgba(var(--ion-color-dark-rgb), 0.06);
        bottom: 0;
        content: '';
        margin: 0 var(--tile-header-border-spacing);
        position: absolute;
        width: calc(100% - (var(--tile-header-border-spacing) * 2));
      }

      ion-card-title {
        align-items: center;
        display: flex;
        font-size: var(--tile-title-font-size);
        padding: var(--tile-title-vertical-spacing) var(--tile-title-horizontal-spacing);
        position: relative;
      }

      > ion-icon {
        color: rgba(var(--ion-color-dark-rgb), 0.4);
      }

      ion-button {
        --background: transparent;
        --background-hover-opacity: 0;
        --box-shadow: 0;
        --ripple-color: var(--ion-color-primary);
        height: 100%;
        margin: 0;
  
        &:hover * {
          color: var(--ion-color-primary);
        }
  
        ion-label {
          color: rgba(var(--ion-text-color-rgb), 0.6);
          font-size: var(--tile-button-label-size);
          letter-spacing: initial;
          text-transform: none;
        }
  
        ion-icon {
          color: rgba(var(--ion-text-color-rgb), 0.6);
          height: var(--tile-icon-height);
          width: var(--tile-icon-width);
        }
      }
    }

    ion-card-content {
      align-items: center;
      display: flex;
      height: calc(100% - var(--tile-header-height));
      justify-content: center;
      padding: 0;

      .loader {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}