.grid {
  align-items: center;
  background: url('../../../assets/images/app-background.jpg') no-repeat center center / cover;
  height: 100%;
  display: flex;
  justify-content: center;

  .grid-row {
    flex: 0 1 500px;
  }

  .button-row {
    margin-top: 20px;
  }
}