<ion-content>
  <ion-grid class="grid">
    <ion-row class="grid-row">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Vidrio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
              <ion-row>
                <ion-col>
                  <ion-item class="internal">
                    <ion-label position="floating">Username</ion-label>
                    <ion-input
                      #usernameInput
                      clearInput
                      formControlName="username"
                      name="username"
                      tabindex="0"
                      type="text"
                    >
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="internal">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input
                      clearInput
                      formControlName="password"
                      name="password"
                      tabindex="1"
                      type="password"
                    >
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="button-row">
                <ion-col>
                  <ion-button type="submit" color="primary" expand="block">Log in</ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
