:host {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  
  ion-card {
    height: 100%;
    flex: 1;
    margin: 0;

    ion-card-header {
      display: flex;
      justify-content: space-between;
      padding: 0;

      &::after {
        border-bottom: 1px solid rgba(var(--ion-color-dark-rgb), 0.06);
        bottom: 0;
        content: '';
        margin: 0 10px;
        position: absolute;
        width: calc(100% - 20px);
      }

      ion-card-title {
        font-size: 18px;
        padding: 10px 16px;
        position: relative;
      }

      > ion-icon {
        color: rgba(var(--ion-color-dark-rgb), 0.4);
      }

      ion-button {
        --background: transparent;
        --background-hover-opacity: 0;
        --box-shadow: 0;
        --ripple-color: var(--ion-color-primary);
        height: 45px;
        margin: 0;
  
        &:hover * {
          color: var(--ion-color-primary);
        }
  
        ion-label {
          color: rgba(var(--ion-text-color-rgb), 0.6);
          font-size: 16px;
          letter-spacing: initial;
          text-transform: none;
        }
  
        ion-icon {
          color: rgba(var(--ion-text-color-rgb), 0.6);
          height: 19px;
          width: 19px;
        }
      }
    }

    ion-card-content {
      align-items: center;
      display: flex;
      height: calc(100% - 45px);
      justify-content: center;
      padding: 0;

      .loader {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}