<ion-card>
  <ion-card-header>
    <ng-container *ngIf="menuHidden else menuContainer">
      <ion-card-title text-wrap>
        {{ sensor.name }}
      </ion-card-title>
    </ng-container>

    <ng-template #menuContainer>
      <ion-button (click)="editItem()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteItem()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ng-template>
  
    
    <ion-button (click)="toggleMenu()">
      <ion-icon
        [name]="getToggleIconName()"
        slot="icon-only"
      >
      </ion-icon>
    </ion-button>
  </ion-card-header>

  <ion-card-content (tap)="onTileTap($event)">
    <ng-container [ngSwitch]="sensorType">
      <app-tile-temperature
        *ngSwitchCase="SensorType.Temperature"
        [thermometer]="sensor"
      >
      </app-tile-temperature>
      <app-tile-blinds
        *ngSwitchCase="SensorType.Blinds"
        (sensorToggled)="onSensorToggle($event)"
        [blind]="sensor"
      >
      </app-tile-blinds>
      <app-tile-lights
        *ngSwitchCase="SensorType.Lights"
        (sensorToggled)="onSensorToggle()"
        [light]="sensor"
      >
      </app-tile-lights>
    </ng-container>

    <div
      *ngIf="loaderVisible"
      class="loader"
    >
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
  </ion-card-content>
</ion-card>