.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: .75em;
  grid-template-columns: repeat(2, 1fr);
  padding: .75em;

  .temperature {
    color: rgba(var(--ion-text-color-rgb), 0.7);
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;

    sup {
      font-size: 40%;
      left: -0.3em;
      top: -0.9em;
    }
  }

  .loader {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}