.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: .75em;
  grid-template-columns: repeat(2, 1fr);
  padding: .75em;

  .temperature {
    color: rgba(var(--ion-text-color-rgb), 0.7);
    font-size: 48px;
    font-weight: 700;
  }
}