<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Temperature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="grid">
    <app-tile [title]="'Livingroom'">
      <span class="temperature">10°C</span>
    </app-tile>
    <app-tile [title]="'Bathroom'">
      <span class="temperature">31°C</span>
    </app-tile>
    <app-tile [title]="'Bedroom'">
      <span class="temperature">23°C</span>
    </app-tile>
    <app-tile [title]="'Kitchen'">
      <span class="temperature">15°C</span>
    </app-tile>
  </div>
</ion-content>
