.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;

  .temperature {
    font-size: 48px;
    font-weight: 700;
    background: -webkit-linear-gradient(-45deg, #eee, var(--ion-color-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}