ion-list {
  display: grid;
  grid-template-rows: var(--modal-grid-list-row-height) auto;
  grid-row-gap: var(--modal-grid-list-row-gap);
  padding: 0;

  form {
    display: grid;
    grid-auto-rows: var(--modal-grid-row-height);
    grid-row-gap: var(--modal-grid-row-gap);
    padding: 0;

    ion-item:first-child {
      margin-bottom: var(--modal-title-margin);
    }

    .buttons-container {
      display: flex;
      align-items: center;
      gap: var(--modal-grid-list-row-gap);
      justify-content: space-between;

      .button-dismiss {
        --background: rgba(var(--ion-color-light-contrast-rgb), 0.05);
      }
  
      ion-button {
        --border-radius: var(--item-border-radius);
        flex: 1;
        margin: 0;
      }
    }
  }
}