ion-list {
  display: grid;
  grid-template-rows: 45px auto;
  grid-row-gap: .75em;
  padding: 0;

  form {
    display: grid;
    grid-auto-rows: 55px;
    grid-row-gap: .75em;
    padding: 0;

    ion-item:first-child {
      margin-bottom: .5em;
    }
  
    ion-button {
      --border-radius: .5em;
      align-self: flex-end;
    }
  }
}