<ion-list>
  <ion-list-header *ngIf="title">
    <ion-label>
      {{ title }}
    </ion-label>
  </ion-list-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <ng-container *ngFor="let control of controls; let i = index">
      <ion-item
        [ngSwitch]="control.type"
        class="internal"
      >
        <ng-container *ngSwitchCase="FormControlType.Select">
          <ion-label>{{ control.title }}</ion-label>
          <ion-select
            [formControlName]="control.name"
            [name]="control.name"
            [placeholder]="control.placeholder"
            [tabindex]="i"
            ok-text="Select"
            placeholder="Select Role"
          >
            <ion-select-option [value]="1">Guest</ion-select-option>
            <ion-select-option [value]="2">User</ion-select-option>
            <ion-select-option [value]="3">Admin</ion-select-option>
          </ion-select>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <ion-label position="floating">{{ control.title }}</ion-label>
          <ion-input
            [formControlName]="control.name"
            [name]="control.name"
            [placeholder]="control.placeholder"
            [tabindex]="i"
            [type]="control.type"
          >
          </ion-input>
        </ng-container>
      </ion-item>
    </ng-container>

    <div class="buttons-container">
      <ion-button
        (click)="dismiss()"
        class="button-dismiss"
        expand="block"
        type="button"
      >
        Cancel
      </ion-button>
    
      <ion-button
        [color]="submitColor"
        expand="block"
        type="submit"
      >
        {{ submitTitle }}
      </ion-button>
    </div>
  </form>

</ion-list>