:host {
  background: url('../../../../assets/images/app-background.jpg') no-repeat center center / cover !important;

  ion-toolbar, ion-content {
    --background: transparent;
  }

  .grid {
    display: grid;
    grid-auto-rows: var(--grid-row-height);
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
    padding: var(--grid-padding);
  }
}