:host {
  background: url('../../../../assets/images/app-background.jpg') no-repeat center center / cover !important;

  ion-toolbar, ion-content {
    --background: transparent;
  }

  .grid {
    display: grid;
    grid-auto-rows: 130px;
    grid-gap: .75em;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
    padding: .75em;
  }
}