:host {
  position: relative;

  ion-item {
    --background: none;
    --border-color: transparent;
    background: rgba(var(--ion-card-background-rgb), 0.4);
    backdrop-filter: blur(var(--background-blur-size));
    border-radius: var(--item-border-radius);
    transition: max-height 0.15s ease-out;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.07), -2px 2px 4px rgba(0, 0, 0, 0.07), -4px 4px 8px rgba(0, 0, 0, 0.07), -8px 8px 16px rgba(0, 0, 0, 0.07);

    .settings-wrapper {
      display: flex;
      flex-direction: column;
      font-size: var(--tile-title-font-size);
      width: 100%;

      .settings-header {
        align-items: center;
        display: flex;
        width: 100%;
  
        ion-label {
          color: rgba(var(--ion-text-color-rgb), 0.6);
          margin-right: auto;
        }
        
        ion-badge {
          background: transparent;
          border: 1px solid rgba(var(--ion-text-color-rgb), 0.6);
          color: rgba(var(--ion-text-color-rgb), 0.6);
          font-weight: var(--tile-badge-font-weight);
          letter-spacing: var(--tile-badge-letter-spacing);
          margin-right: var(--tile-badge-margin);
          padding: var(--tile-badge-vertical-spacing) var(--tile-badge-horizontal-spacing);
          text-transform: uppercase;
        }
      }
  
      .settings-buttons {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}

ion-button {
  --background: transparent;
  --background-hover-opacity: 0;
  --box-shadow: 0;
  --ripple-color: var(--ion-color-primary);
  color: rgba(var(--ion-text-color-rgb), 0.6);
  height: 48px;
  letter-spacing: var(--settings-tile-item-letter-spacing);
  margin: 0;
  text-transform: none;

  &:hover, &:hover * {
    color: var(--ion-color-primary);
  }

  ion-icon {
    color: rgba(var(--ion-text-color-rgb), 0.6);
    height: var(--tile-icon-height);
    width: var(--tile-icon-width);
  }
}