// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Source Sans Pro';

  --ion-background-color: #f2f2f2;
  --ion-background-color-rgb: 242,242,242;

  --ion-text-color: #1f1f1f;
  --ion-text-color-rgb: 31,31,31;
  
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #1f1f1f;
  --ion-color-dark-rgb: 31, 31, 31;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1b1b1b;
  --ion-color-dark-tint: #353535;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f2f2f2;
  --ion-color-light-rgb: 242,242,242;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d5d5d5;
  --ion-color-light-tint: #f3f3f3;

  --ion-item-background: #f2f2f2;
  --ion-item-background-rgb: 242,242,242;

  --ion-toolbar-background: #f2f2f2;
  --ion-toolbar-background-rgb: 242,242,242;

  --ion-tab-bar-background: #f2f2f2;
  --ion-tab-bar-background-rgb: 242,242,242;

  --ion-card-background: #f2f2f2;
  --ion-card-background-rgb: 242,242,242;

  // Basic elements variables
  --base-font-size: 10px;

  --background-blur-size: 1rem;

  --grid-gap: .75rem;
  --grid-padding: .75rem;
  --grid-row-height: 13rem;

  --input-autofill-font-size: 1.6rem;
  --input-autofill-font-weight: 400;
  --input-height: 3rem;

  // Custom component variables
  --login-container-width: 50rem;
  --login-button-spacing: 1em;

  --menu-background-blur-size: .6rem;
  --menu-button-height: 56px;
  --menu-drag-border-radius: .5rem;
  --menu-drag-height: .3rem;
  --menu-drag-width: 5rem;

  --tile-badge-font-weight: 400;
  --tile-badge-horizontal-spacing: .75rem;
  --tile-badge-letter-spacing: .15rem;
  --tile-badge-margin: 1rem;
  --tile-badge-vertical-spacing: .35rem;

  --tile-button-label-size: 1.6rem;
  --tile-header-border-spacing: 10px;
  --tile-header-height: 4.5rem;
  --tile-icon-height: 1.9rem;
  --tile-icon-width: 1.9rem;
  --tile-title-font-size: 1.8rem;
  --tile-title-horizontal-spacing: 1.6rem;
  --tile-title-vertical-spacing: 1rem;
  
  --light-tile-font-size: 2rem;
  --light-tile-height: 8.8rem;

  --temperature-tile-data-font-size: 6rem;
  --temperature-tile-font-weight: 700;
  --temperature-tile-line-height: 5.5rem;
  --temperature-tile-no-data-font-size: 2rem;
  --temperature-tile-sup-font-size: 3rem;
  --temperature-tile-sup-left-position: -1rem;
  --temperature-tile-sup-top-position: -2rem;

  --settings-tile-item-letter-spacing: 0.05rem;

  --footer-icon-bottom-position: 8.6rem;
  --footer-width: 50rem;

  // Ionic components variables
  --card-border-radius: 1.5rem;

  --header-font-size: 4rem;
  --header-height: 20vh;

  --item-border-radius: .5rem;
  --item-height: 5.5rem;

  --list-gap: .75rem;
  --list-header-font-size: 2rem;
  --list-padding: .75rem;
  --list-row-height: 4.8rem;

  --modal-border-radius: 1rem;
  --modal-title-margin: .5rem;
  --modal-grid-list-row-gap: .75rem;
  --modal-grid-list-row-height: 4.5rem;
  --modal-grid-row-height: 5.5rem;
  --modal-grid-row-gap: 1rem;
  --modal-margin: 1rem;
  --modal-page-height: 90vh;
  --modal-page-horizontal-spacing: 1.5rem;
  --modal-page-vertical-spacing: 1rem;
  --modal-width: 40rem;

  --popover-border-radius: 1rem;
  --popover-height: 50rem;
  --popover-max-height: 90vh;
  --popover-max-width: 90vh;
  --popover-width: 50rem;
  --popover-spacing: 1.5rem;

  --select-spacing: .5em;

  --toast-width: 50rem;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-background-color: #1f1f1f;
    --ion-background-color-rgb: 31,31,31;
  
    --ion-text-color: #f2f2f2;
    --ion-text-color-rgb: 242,242,242;

    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f2f2f2;
    --ion-color-dark-rgb: 242,242,242;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d5d5d5;
    --ion-color-dark-tint: #f3f3f3;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #1f1f1f;
    --ion-color-light-rgb: 31,31,31;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1b1b1b;
    --ion-color-light-tint: #353535;

    --ion-item-background: #1f1f1f;
    --ion-item-background-rgb: 31,31,31;
  
    --ion-toolbar-background: #1f1f1f;
    --ion-toolbar-background-rgb:31,31,31;
  
    --ion-tab-bar-background: #1f1f1f;
    --ion-tab-bar-background-rgb: 31,31,31;
  
    --ion-card-background: #1f1f1f;
    --ion-card-background-rgb: 31,31,31;
  }
}

/*
 * Dark Colors
 * -------------------------------------------
 */

 body.dark {
  --ion-background-color: #1f1f1f;
  --ion-background-color-rgb: 31,31,31;

  --ion-text-color: #f2f2f2;
  --ion-text-color-rgb: 242,242,242;

  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66,140,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80,200,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106,100,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47,223,117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255,213,52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255,73,97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f2f2f2;
  --ion-color-dark-rgb: 242,242,242;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d5d5d5;
  --ion-color-dark-tint: #f3f3f3;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #1f1f1f;
  --ion-color-light-rgb: 31,31,31;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1b1b1b;
  --ion-color-light-tint: #353535;

  --ion-item-background: #1f1f1f;
  --ion-item-background-rgb: 31,31,31;

  --ion-toolbar-background: #1f1f1f;
  --ion-toolbar-background-rgb:31,31,31;

  --ion-tab-bar-background: #1f1f1f;
  --ion-tab-bar-background-rgb: 31,31,31;

  --ion-card-background: #1f1f1f;
  --ion-card-background-rgb: 31,31,31;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #1f1f1f;
  --ion-background-color-rgb: 31,31,31;

  --ion-text-color: #f2f2f2;
  --ion-text-color-rgb: 242,242,242;

  --ion-color-step-50: #2a2a2a;
  --ion-color-step-100: #343434;
  --ion-color-step-150: #3f3f3f;
  --ion-color-step-200: #494949;
  --ion-color-step-250: #545454;
  --ion-color-step-300: #5e5e5e;
  --ion-color-step-350: #696969;
  --ion-color-step-400: #737373;
  --ion-color-step-450: #7e7e7e;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #939393;
  --ion-color-step-600: #9e9e9e;
  --ion-color-step-650: #a8a8a8;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bdbdbd;
  --ion-color-step-800: #c8c8c8;
  --ion-color-step-850: #d2d2d2;
  --ion-color-step-900: #dddddd;
  --ion-color-step-950: #e7e7e7;

  --ion-item-background: #1f1f1f;
  --ion-item-background-rgb: 31,31,31;

  --ion-toolbar-background: #1f1f1f;
  --ion-toolbar-background-rgb:31,31,31;

  --ion-tab-bar-background: #1f1f1f;
  --ion-tab-bar-background-rgb: 31,31,31;

  --ion-card-background: #1f1f1f;
  --ion-card-background-rgb: 31,31,31;
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  --ion-background-color: #1f1f1f;
  --ion-background-color-rgb: 31,31,31;

  --ion-text-color: #f2f2f2;
  --ion-text-color-rgb: 242,242,242;

  --ion-color-step-50: #2a2a2a;
  --ion-color-step-100: #343434;
  --ion-color-step-150: #3f3f3f;
  --ion-color-step-200: #494949;
  --ion-color-step-250: #545454;
  --ion-color-step-300: #5e5e5e;
  --ion-color-step-350: #696969;
  --ion-color-step-400: #737373;
  --ion-color-step-450: #7e7e7e;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #939393;
  --ion-color-step-600: #9e9e9e;
  --ion-color-step-650: #a8a8a8;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bdbdbd;
  --ion-color-step-800: #c8c8c8;
  --ion-color-step-850: #d2d2d2;
  --ion-color-step-900: #dddddd;
  --ion-color-step-950: #e7e7e7;

  --ion-item-background: #1f1f1f;
  --ion-item-background-rgb: 31,31,31;

  --ion-toolbar-background: #1f1f1f;
  --ion-toolbar-background-rgb:31,31,31;

  --ion-tab-bar-background: #1f1f1f;
  --ion-tab-bar-background-rgb: 31,31,31;

  --ion-card-background: #1f1f1f;
  --ion-card-background-rgb: 31,31,31;
}