/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font face */
@import "../src/theme/fonts.scss";

input {
  &:-webkit-autofill {
    transition: background-color 5000s;
  }

  &:-webkit-autofill::first-line {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
  }
}

ion-card {
  background: rgba(var(--ion-card-background-rgb), 0.4);
  backdrop-filter: blur(6px);
  border-radius: 1.5em;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.07), 
    -2px 2px 4px rgba(0,0,0,0.07), 
    -4px 4px 8px rgba(0,0,0,0.07), 
    -8px 8px 16px rgba(0,0,0,0.07);
  transition: all .2s ease-in-out;

  ion-card-title {
    color: rgba(var(--ion-color-dark-rgb), 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

ion-header {
  --min-height: 20vh;
  text-align: center;

  &::after {
    background-image: none !important;
  }

  ion-title {
    color: rgba(var(--ion-text-color-rgb), 0.7);
    font-size: 2em;
  }

  ion-toolbar {
    --background: transparent;
    --min-height: 20vh;

    ion-chip {
      background: rgba(var(--ion-card-background-rgb), 0.2);
      box-shadow: -1px 1px 2px rgba(0,0,0,0.07), 
        -2px 2px 4px rgba(0,0,0,0.07), 
        -4px 4px 8px rgba(0,0,0,0.07), 
        -8px 8px 16px rgba(0,0,0,0.07);
      color: rgba(var(--ion-text-color-rgb), 0.7);
      user-select: none;
    }
  }
}

ion-fab-button {
  --box-shadow: -1px 1px 2px rgba(var(--ion-color-primary-rgb), 0.07), 
    -2px 2px 4px rgba(var(--ion-color-primary-rgb), 0.07), 
    -4px 4px 8px rgba(var(--ion-color-primary-rgb), 0.07), 
    -8px 8px 16px rgba(var(--ion-color-primary-rgb), 0.07);
}

.toast-container {
  --max-width: 500px;
  text-align: center;
}

.popover-container .popover-content {
  background: var(--ion-card-background);
  border-radius: 1.5em;
  transition: all .2s ease-in-out;
  --max-height: 500px;
  height: 90vw;
  --max-width: 500px;
  width: 90vw;
  padding: 15px;
}

.shadow {
  box-shadow: 0 2px 0 rgba(0,0,0,0.04);
}

// Dragulla styles
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
