<ion-list>
  <ion-list-header>
    <ion-label>
      Create an user
    </ion-label>
  </ion-list-header>

  <ion-item class="internal">
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="internal">
    <ion-label>Role</ion-label>
    <ion-select placeholder="Select Role">
      <ion-select-option value="1">Guest</ion-select-option>
      <ion-select-option value="2">User</ion-select-option>
      <ion-select-option value="3">Admin</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>