<ion-list>
  <ion-list-header>
    <ion-label>
      {{ title }}
    </ion-label>
  </ion-list-header>

  <form [formGroup]="form">
    <ion-item
      *ngFor="let control of controls; let i = index"
      class="internal"
    >
      <ion-label position="floating">{{ control.name }}</ion-label>
      <ion-input
        [formControlName]="control.name"
        [name]="control.name"
        [tabindex]="i"
        [type]="control.type"
      >
      </ion-input>
    </ion-item>
  
    <ion-item class="internal">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        formControlName="password"
        name="password"
        tabindex="1"
        type="password"
      >
      </ion-input>
    </ion-item>
  
    <ion-item class="internal">
      <ion-label>Role</ion-label>
      <ion-select
        formControlName="role"
        name="role"
        ok-text="Select"
        placeholder="Select Role"
      >
        <ion-select-option value="1">Guest</ion-select-option>
        <ion-select-option value="2">User</ion-select-option>
        <ion-select-option value="3">Admin</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-button
      (click)="onSubmit(form)"
      type="button"
      expand="block"
    >
      Submit
    </ion-button>
  </form>

</ion-list>